 @charset "utf-8";
 body {
     min-width: 1100px;
     background: url(https://lihongyao.github.io/practise/css/Furnished/imgs/bg.png);
 }
 
 header {
     width: 100%;
     position: relative;
 }
 
 .contact {
     height: 50px;
     text-align: right;
     padding-right: 100px;
     background: black;
 }
 
 .contact>span {
     display: inline-block;
     color: white;
     line-height: 50px;
 }
 
 .contact>span:nth-child(2) {
     color: #008800;
     font-size: 12px;
 }
 
 .contact>span:nth-child(3) {
     line-height: 50px;
 }
 
 .menu-list {
     height: 50px;
     text-align: right;
     padding-right: 130px;
 }
 
 .menu-list>li {
     display: inline-block;
     line-height: 50px;
     margin-right: 50px;
 }
 
 .menu-list>li>a {
     color: #333333;
     font-size: 18px;
     font-weight: lighter;
     line-height: 50px;
     color: black;
 }
 
 .logo img {
     height: 110px;
     width: 90px;
     position: absolute;
     top: 0;
     left: 120px;
 }
 
 .banner {
     height: 250px;
     width: 100%;
     background: url(https://lihongyao.github.io/practise/css/Furnished/imgs/banner.jpg) no-repeat center center;
     background-size: cover;
 }
 
 .welcome {
     width: 100%;
     background-color: rgb(38, 38, 39);
     position: relative;
 }
 
 .welcome .img img {
     height: 210px;
     width: 210px;
     border-radius: 50%;
     margin: 20px 0;
 }
 
 .welcome .img {
     padding-left: 200px;
 }
 
 .welcome-box {
     width: 450px;
     position: absolute;
     top: 25%;
     left: 50%;
 }
 
 .welcome-box h1 {
     color: white;
     font-weight: lighter;
 }
 
 .welcome-box p {
     color: white;
     margin-top: 30px;
 }
 
 .about {
     width: 100%;
     margin: 55px auto;
     text-align: center;
 }
 
 .about h1 {
     font-weight: lighter;
     color: rgb(102, 43, 11);
 }
 
 .about p {
     margin-top: 30px;
 }
 
 .img-box {
     width: 1100px;
     margin: 0 auto;
 }
 
 .img-box .title h1 {
     text-align: center;
     font-weight: lighter;
     margin-bottom: 25px;
     color: rgb(102, 43, 11);
 }
 
 .img-box>ul {
     text-align: center;
 }
 
 .img-box>ul>li {
     width: 330px;
     display: inline-block;
     margin: 0 10px;
 }
 
 .img-box>ul>li>img {
     width: 100%;
 }
 
 .des {
     width: 80%;
     margin: 0 auto;
     position: relative;
 }
 
 .des img {
     width: 100%;
 }
 
 .des .text {
     height: 100%;
     width: 45%;
     background: rgba(0, 0, 0, .4);
     line-height: 30px;
     color: #fff;
     font-size: 24px;
     font-weight: lighter;
     box-sizing: border-box;
     padding: 120px 20px 40px 20px;
     position: absolute;
     top: 0;
     left: 0;
 }
 
 .tec-service {
     width: 1100px;
     margin: 50px auto;
 }
 
 .tec-service .title {
     text-align: center;
     font-weight: lighter;
     color: rgb(102, 43, 11);
 }
 
 .service-box {
     margin: 50px auto;
 }
 
 .tec-service img {
     width: 100%;
 }
 
 .service-box>ul {
     text-align: center;
 }
 
 .service-box>ul>li {
     width: 250px;
     display: inline-block;
     margin: auto 10px;
     text-align: left;
 }
 
 .srevice-box .fri>span {
     display: inline-block;
 }
 
 .service-box>ul>li>ul>li:last-child {
     width: 70px;
     line-height: 40px;
     margin-top: 10px;
     border-top: 2px solid rgb(102, 43, 11);
     cursor: pointer;
 }
 
 .service-box>ul>li>ul>li:last-child:hover {
     color: green;
     text-decoration: underline;
 }
 
 .service-box .fri>span:first-child {
     color: rgb(102, 43, 11);
     font-weight: bold;
     font-size: 28px;
 }
 
 .service-box .fri>span:last-child {
     color: rgb(173, 98, 43);
     font-size: 20px;
 }
 
 .service-box>ul>li:nth-child(3) {
     margin: 10px 0;
 }
 
 footer {
     background: rgb(38, 38, 39);
     width: 100%;
     margin: 0 auto;
 }
 
 .fmenu-list {
     text-align: center;
     padding-top: 40px;
 }
 
 .fmenu-list>li {
     width: 20%;
     vertical-align: top;
     display: inline-block;
     text-align: left;
 }
 
 .fmenu-list>li>h1 {
     color: whitesmoke;
     font-size: 32px;
     font-weight: lighter;
 }
 
 .fmenu-list>li>.sec {
     margin: 10px auto;
 }
 
 .fmenu-list>li>.sec>li {
     line-height: 25px;
 }
 
 .fmenu-list>li>.sec>li>a {
     color: white;
     font-weight: lighter;
 }
 
 .fmenu-list>li>.sec>li>a:hover {
     color: green;
     text-decoration: underline #008800;
 }
 
 footer>p {
     color: #d3d3d3;
     text-align: center;
     line-height: 100px;
 }
 
 .fmenu-list>li>form>input {
     background: transparent;
     width: 150px;
     height: 30px;
     color: #fff;
     text-align: center;
     border: 2px solid white;
     margin-top: 20px;
 }
 
 .fmenu-list>li>form {
     position: relative;
 }
 
 .fmenu-list>li>form div {
     text-align: center;
     width: 30px;
     height: 30px;
     line-height: 30px;
     border: 2px solid white;
     position: absolute;
     top: 20px;
     left: 153px;
     cursor: pointer;
 }
 /* 展示页面 */
 
 main .dis {
     text-align: center;
     font-weight: lighter;
     font-weight: lighter;
     color: rgb(102, 43, 11);
     margin-top: 30px;
 }
 
 main .display {
     width: 80%;
     margin: 30px auto;
     text-align: center;
 }
 
 main .display>li {
     width: 28%;
     display: inline-block;
     margin: 10px 10px;
 }
 
 main .display>li>img {
     width: 100%;
     border-radius: 5px;
 }
 /* 联系我们 */
 
 main .tit {
     text-align: center;
     font-weight: lighter;
     color: rgb(102, 43, 11);
     margin-top: 30px;
 }
 
 main .mid {
     width: 1100px;
     text-align: center;
     margin: 30px auto;
 }
 
 main .mid img {
     width: 100%;
 }
 
 main .wrap {
     box-sizing: border-box;
     height: 500px;
     width: 1100px;
     margin: 0 auto;
 }
 
 main .wrap .fl {
     width: 40%;
     float: left;
 }
 
 main .wrap .fl h3 {
     font-weight: lighter;
     color: rgb(102, 43, 11);
 }
 
 main .wrap input {
     height: 33px;
     width: 60%;
     border: 1px solid rgb(69, 69, 69);
     border-radius: 5px;
     margin: 10px auto;
     font-size: 17px;
     padding-left: 7px;
 }
 
 main .wrap textarea {
     height: 180px;
     width: 450px;
     border: 1px solid rgb(69, 69, 69);
     border-radius: 5px;
     margin-top: 10px;
 }
 
 main .wrap button {
     height: 30px;
     width: 90px;
     font-size: 17px;
     background: green;
     color: #fff;
     border-radius: 5px;
     margin-top: 15px;
 }
 
 main .wrap .fr {
     width: 50%;
     float: right;
 }
 
 main .wrap .fr ul li:first-child {
     font-size: 20px;
     font-weight: lighter;
     color: rgb(102, 43, 11);
 }
 
 main .wrap .fr ul li {
     margin: 10px auto;
 }
 /* 博客页面 */
 
 main .article {
     width: 75%;
     margin: 0 auto;
 }
 
 main .article .left {
     width: 65%;
 }
 
 main .titb h1 {
     font-weight: lighter;
     color: rgb(102, 43, 11);
     text-align: center;
     margin: 30px auto;
 }
 
 .article .left h5 {
     color: rgb(102, 43, 11);
     font-size: 18px;
     line-height: 32px;
     font-weight: lighter;
     margin-top: 35px;
 }
 
 .article .left p {
     font-size: 13px;
     line-height: 34px;
     color: rgb(179, 179, 179);
 }
 
 .article .left .de img {
     height: 230px;
     width: 320px;
 }
 
 .article .left .de .desc {
     float: right;
     width: 580px;
 }
 
 .article .left .de .desc p {
     font-size: 15px;
     line-height: 23px;
     color: rgb(179, 179, 179);
 }
 
 .article .left .de .desc>button {
     height: 30px;
     width: 80px;
     color: white;
     background: green;
     border-radius: 5px;
     margin-top: 15px;
 }
 
 .article .left .de>.infor-list {
     border-top: 1px solid black;
     border-bottom: 1px solid black;
     margin-top: 10px;
 }
 
 .article .left .de>.infor-list>li {
     display: inline-block;
     margin-right: 120px;
     line-height: 50px;
 }
 
 .article .left .de>.infor-list>li:first-child::before {
     content: url(https://lihongyao.github.io/practise/css/Furnished/imgs/h1.png);
     margin-right: 10px;
 }
 
 .article .left .de>.infor-list>li:nth-child(2)::before {
     content: url(https://lihongyao.github.io/practise/css/Furnished/imgs/h2.png);
     margin-right: 10px;
 }
 
 .article .left .de>.infor-list>li:last-child::before {
     content: url(https://lihongyao.github.io/practise/css/Furnished/imgs/h3.png);
     margin-right: 10px;
 }
 
 .article .left .but {
     height: 40px;
     width: 190px;
     margin-top: 30px;
 }
 
 .article .left .but button {
     width: 70px;
     margin-right: 20px;
     line-height: 27px;
     background: green;
     border-radius: 5px;
     color: white;
 }
 
 .article .fr {
     width: 10%;
     float: right;
     margin-top: 30px;
 }
 
 .article .fr>ul>li>h1 {
     color: rgb(102, 43, 11);
     font-weight: lighter;
     margin: 30px auto;
 }
 
 .wc-list>li>a {
     font-size: 16px;
     color: rgb(179, 179, 179);
 }
 /* 家居网-关于 */
 
 main .design {
     width: 65%;
     margin: 0 auto;
 }
 
 main .design .about-items {
     width: 60%;
     float: left;
     text-align: left;
 }
 
 main .design .about-items .about-item h3 {
     font-size: 16px;
     color: saddlebrown;
 }
 
 main .design .about-items .about-item p {
     font-size: 16px;
     line-height: 25px;
     font-weight: lighter;
     color: lightslategray;
 }
 
 main .design .about-items .jiaju {
     color: rgb(102, 43, 11);
     font-weight: lighter;
     text-align: left;
     margin: 30px auto
 }
 
 main .design .about-items .voc>li>p {
     margin: 20px auto;
     color: saddlebrown;
 }
 
 main .design .img-items img {
     width: 480px;
 }
 
 main .design .img-items {
     float: right;
     width: 35%;
 }
 
 main .design .img-items h2 {
     margin: 30px auto;
     color: rgb(102, 43, 11);
     font-weight: lighter;
 }
 
 main .design .img-items .nengli li {
     height: 45px;
     width: 480px;
     line-height: 45px;
     color: #fff;
     margin: 10px auto;
     background: green;
 }
 
 main .design .img-items .nengli li:before {
     content: url(https://lihongyao.github.io/practise/css/Furnished/imgs/cir.png);
     margin-right: 30px;
     position: relative;
     top: 7px;
     left: 10px;
 }
 
 main .wmdtd>h1 {
     text-align: center;
     margin: 20px auto;
     color: rgb(102, 43, 11);
     font-weight: lighter;
 }
 
 main .team {
     text-align: center;
     margin: 30px auto;
 }
 
 main .team .team-item {
     height: 180px;
     width: 180px;
     display: inline-block;
     margin-right: 50px;
     border-radius: 50%;
     /* padding-left: 14px;
     padding-top: 15px; */
     position: relative;
 }
 
 .team-item:nth-child(1) {
     background-image: url(https://lihongyao.github.io/practise/css/Furnished/imgs/team-1.jpg);
 }
 
 .team-item:nth-child(2) {
     background-image: url(https://lihongyao.github.io/practise/css/Furnished/imgs/team-2.jpg);
 }
 
 .team-item:nth-child(3) {
     background-image: url(https://lihongyao.github.io/practise/css/Furnished/imgs/team-3.jpg);
 }
 
 .team .team-item .mask {
     height: 180px;
     width: 180px;
     background: rgba(0, 0, 0, 0);
     color: rgba(255, 255, 255, 0);
     text-align: center;
     border-radius: 50%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     transition: all .5s linear;
     position: absolute;
     top: 0;
     left: 0;
 }
 
 .team .team-item .border {
     box-sizing: border-box;
     height: 180px;
     width: 180px;
     border: 8px solid orange;
     border-radius: 50%;
     border-top-color: mediumpurple;
     border-left-color: mediumpurple;
     position: absolute;
     top: 0;
     left: 0;
 }
 
 .team-item:hover .mask {
     background: rgba(0, 0, 0, .65);
     color: rgba(255, 255, 255, 1);
 }
 
 .team-item:hover .border {
     transform: rotateZ(180deg);
 }
 
 .team .team-item:hover .mask h3 {
     width: 100px;
     font-size: 20px;
     padding-bottom: 10px;
     border-bottom: 2px solid rgba(255, 255, 255, 1);
     border-bottom-color: rgba(255, 255, 255, 1);
 }